body{
    display: flex;
    flex-wrap: wrap; 
    
}

canvas{
    position: relative;
    height: 80vh;
    width: 80vh;
}

canvas .myChart3{
    margin-top: 20px;
    height: 10vh !important; 
    width: 10vh !important;

}

